.hidden {
  display: none;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  padding: 0;
  margin: 0;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  box-sizing: border-box;
}

#clock {
  font-size: 6rem;
  color: white;
  text-shadow: 0 0 5px grey;
  padding-top: 50px;
}

#loginForm input {
  padding-bottom: 30px;
}

#loginForm input,
#todo-form input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 2rem;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px grey;
}
#loginForm input::placeholder,
#todo-form input::placeholder {
  color: white;
  text-shadow: 0 0 5px grey;
}
#loginForm button {
  display: none;
}

#greeting {
  color: white;
  text-shadow: 0 0 5px grey;
  padding-bottom: 20px;
  font-size: 3rem;
}

#todo-form {
  padding-bottom: 10px;
}
#todo-form input {
  color: white;
  text-align: center;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
}
#todo-form input::placeholder {
  color: white;
  font-size: 1.2rem;
}

#todo-list {
  display: inline-block;
  width: 296px;
  padding: 0;
}
#todo-list li {
  list-style: none;
  color: white;
  text-shadow: 0 0 5px grey;
}
#todo-list li + li {
  padding-top: 10px;
}
#todo-list li button {
  color: red;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

#quotes {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-shadow: 0 0 5px grey;
  font-size: 0.8rem;
}
#quotes span:last-child::before,
#quotes span:last-child::after {
  content: "-";
}
